/*************************************************
    GENERAL STYLES
 *************************************************/
:root {
    font-family: 'Roboto', sans-serif;
}

/*************************************************
    MACRO-CONTAINER STYLES
 *************************************************/
.wrapper-up {
    height: calc(100vh - 100px);
    background-color: blue;
    display: flex;
}

.sidebar {
    width: 150px;
    height: 100%;
    background-color: violet;
}

.main-content {
    flex-grow: 1;
    height: 100%;
    background-color: yellowgreen;
}

.topbar {
    height: 100px;
    background-color: grey;
}

/*************************************************

 *************************************************/

/*************************************************
    BG-COLOR
 *************************************************/
.ms_bgcolor-lightgrey {
    background-color: #f8f9fa;
}