/*************************************************
    GENERAL STYLES
 *************************************************/
:root {
    font-family: 'Roboto', sans-serif;
}

/*************************************************
    MACRO-CONTAINER STYLES
 *************************************************/
.wrapper-up {
    height: calc(100vh - 80px);
    display: flex;
}

.sidebar {
    width: 150px;
    height: 100%;
    background-color: #12293e;
    background-image: url(img/sidebar-bg.png);
}

.main-content {
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;
}

.topbar {
    height: 80px;
    background-color: grey;
}

/*************************************************

 *************************************************/

/*************************************************
    BG-COLOR
 *************************************************/
.ms_bgcolor-lightgrey {
    background-color: #f8f9fa;
}

.ms_bgcolor-grey {
    background-color: #e5e5e5;
}

.ms_bgcolor-blue {
    background-color: #1b72e8;
}

.ms_bgcolor-lightblue {
    background-color: #165bba;
}

/*************************************************
    COLOR
 *************************************************/
.ms_color-orange {
    color: #ff8f00;
}

/* HOVER COLOR FIX */
.ms_color-orange:hover {
    color: #ff8f00;
}

/*************************************************
    TEXT UTILITIES
 *************************************************/
.ms_fw-600 {
    font-weight: 600;
}

.ms_fs-10 {
    font-size: 10px;
}

.ms_fs-15 {
    font-size: 15px;
}

/*************************************************
    MARGIN PROPERTY
 *************************************************/
.ms_margin-revert {
    margin: revert;
}

/*************************************************
    OFF CANVAS ICON
 *************************************************/
.fa-plus {
    color: white;
}

.fa-plus:hover {
    background-color: white;
    cursor: pointer;
    color: black;
    transition: all 0.5s;
}

/*************************************************
    IMG RESIZE
 *************************************************/
.ms_avatarimg {
    width: 25px;
    border-radius: 50%;
}

/*************************************************
    HOVER SIDE-BAR
 *************************************************/
.sidebar span:hover {
    background-color: #e5e5e5;
    transition: all 0.5s;
}

.sidebar a:hover {
    background-color: grey;
    transition: all 0.5s;
}

/*************************************************
    ICON Setup
 *************************************************/
.ms_spaced-icon {
    padding: 6px;
    border: 1px solid #7e868d;
    color: #7e868d;
}

/*************************************************
    RESPONSIVE FIX TABLE +
 *************************************************/
@media all and (max-width:991px) {
    .sidebar {
        width: 50px;
    }

    .sidebar .row [class*="col-"] {
        padding: 0;
    }
}